
run = "python run_market_hours.py"
language = "python3"
modules = ["python-3.12", "nix"]

[deployment]
run = ["sh", "-c", "python run_market_hours.py"]
deploymentTarget = "gce"
workerType = "background"
ignorePorts = true

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-2927bac7-9a77-4731-9fd7-61c199e7357c"
